<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <section class="hii">

        <div class="Hi">
            <div class="pic">
                <p>Edit Profile</p>
                <br>
                <img src="{% static './img/pexels-min-an-1115697.jpg' %}" alt="">
                <br>
                <span>Edit</span>
            </div>
            <br>
            <br>
            <input type="text" id="placeholder-one" placeholder="User Id">
            <br>
            <input type="text" id="placeholder-one" placeholder="Email Id:">
            <br>
            <input type="text" id="placeholder-one" placeholder="Phone No:">
            <br>
            <input type="password" id="placeholder-one" placeholder="Password">
            <br>

            <a href="{% url 'home'%}"><input type="Submit" id="login-one" value="Update"></a>




        </div>

    </section>


</body>

</html>